#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.goal-list {
  list-style: none;
  border: 1px solid red;
  padding: 0;
}

.goal {
  border: 2px solid;
  margin: 20px;
  padding: 20px;
}